html, body, a, span {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	overflow: hidden;
}
body {
	padding-left: 12px;
}
#tabs {
	width: 190px;
	display: flex;
	flex-flow: row wrap;
}
a {
	width: 180px;
	height: 180px;
	margin: 5px;
	text-decoration: none;
	background: #eee;
	border-radius:60px;
	position: relative;
}
img {
	height: 180px;
	vertical-align: middle;
	position: absolute;
	z-index: 1;
}
span {
	width: 100%;
	font-size: 24px;
	color: #1c1c1c;
	text-align: center;
	display: block;
	text-shadow: 2px 2px 2px #ccc;
	padding-top: 130px;
	position: absolute;
	z-index: 2;
}
.gray {
	filter: gray;
	-webkit-filter: grayscale(100%);
}

/* 用來實現動畫的keyframes;  從0度旋轉到360度 */
@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

a.current .rays {
	background: url(../images/background.png) 0 0 no-repeat;
	position: absolute;
	width: 140%;
	height: 140%;
	margin: -20%;

	-moz-background-size: contain;
	-webkit-background-size: contain;
	-o-background-size: contain;
	background-size: contain;

	/* microsoft ie */
	animation-name: spin;
	animation-duration: 40000ms; /* 40 seconds */
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
